@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_DefaultHeadComponentPartial")
<body class="animsition">
	@await Component.InvokeAsync("_DefaultSidebarComponentPartial")
	@await Component.InvokeAsync("_DefaultSliderComponentPartial")
	@await Component.InvokeAsync("_DefaultCategoryComponentPartial")
	@await Component.InvokeAsync("_DefaultProductComponentPartial")
	@await Component.InvokeAsync("_DefaultFooterComponentPartial")
	@await Component.InvokeAsync("_DefaultBackToTopComponentPartial")
	@await Component.InvokeAsync("_DefaultModalComponentPartial")
	@await Component.InvokeAsync("_DefaultScriptComponentPartial")
</body>
</html>

